<%= form_for(@image, :url => admin_create_image_path, :html => {:multipart => true }) do |f| %>
<table>
	<tr>
		<td><%= f.file_field :photo %></td>
		<td></td>
	</tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>