<div class="content">
	<div id="aboutPhotoSection">
		<%= image_tag "About.png", :style=>"width:245px;height:445px;" %>
	</div>
	<div id="aboutTextSection">
		<div id="aboutText">
			<hr />
			<p>
				<b>Hello, my name is Robyn Adamson. I am a graphic designer and dabbler of illustration and craft.</b><br/>
			</p>
			<p>
				I grew up in Southland where I recall activities of stalking small birds with my camera, watching and drawing anime and marveling at how far the sky stretches over the southern landscape.
			</p>
			<p style="margin-bottom:20px;">
				My quirky and elegant style developed while completing my Bachelor of Design Communication at Otago Polytechnic. I spent a further year working in Dunedin for both newSplash Studio and the FIEA through Ooid.
			</p>
			<p style="margin-top:20px;">
				<b>I am adapting well to Wellington and am available for commissions.</b>
			<p>
				If you’re keen to work together drop me a line at robyn.a.adamson@gmail.com or we could chat at one of the Wellington Design Meet Ups.
			</p>
			<p>
				Look forward to hearing from you soon...
			</p>
		</div>
	</div>
</div>
<div class="clear"></div>
<hr id="projectruletop" />