@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);


#website{
	width: 1200px;
	margin: auto;
	font-family: 'Gentium Book Basic', serif;
}
#header{
	height:212px;
}
#header h1{
	font-size: 40.61px;
	top: 170px;
}
#header .headerimage{
	padding:20px 0 20px 0;
	width:1165px;
	height:170px;
}
#body{
 padding: 0px 35px 0px 55px; 
}

#body .menu{
	width:141px;
	float:left;
	vertical-align: middle;
}

#body .menu ul{
	color: white;
	list-style: none;
	font-size: 14.86px;
	padding-left:0px;
	margin: 0px;
	height: 445px;
	background-color: #404041;
}

#body .menu ul li{
	height: 63.5px;
	background-color: #404041;
	text-transform:uppercase;
	text-align: center;
	margin-left: 0px;
	line-height: 4.2em;
}
#body .menu ul li a{color:#fff; text-decoration:none;}

#body .menu ul li.selected{
	background-color: #005F72;
}

#body .content{
 	width:965px;
 	height:445px;
 	float:left;
}

.clear{
	clear: both;
}
#projectrule{margin:32px 39px 11px 55px;}

