#projectselected{position:relative;width:960px; height:445px;}
#projectimageviewer{position:relative;width:720px; height:445px;float:left;}
#projectinfopane{position:relative;width:246px; height:445px;top:-445px;float:right;background-color: #404041;}
#projectinfo{color: #fff;margin:15px 15px 0 15px;}
#projecttitle{}
#projectclient{margin-top:5px;}
#projectinforule{}
.projectcontent{margin-top:5px;}
#projectlist{}
#tabs{text-transform:uppercase;width:246px;height:40px;}
#tabs .tab{
	padding:0;
    margin:0;
    color:#fff;
    height:40px;
    width:81px;
    float:left;
    text-align: center;
    line-height: 2.6em;
    border-bottom: 1px solid #303031;;
}
#tabs .centertab{border-left: 1px solid black;border-left: 1px solid #303031;}
#tabs .tab#selected{background-color: #005F72;}


