#projectselected{position:relative;width:960px; height:445px;}
#projectimageviewer{position:relative;width:720px; height:445px;float:left;}
#projectinfopane{position:relative;width:245px; height:445px;top:-445px;float:right;background-color: #404041;text-transform:uppercase;text-align: center;}
#projectinfo{}
#projecttitle{}
#projectclient{}
#projectinforule{margin-left:15px;margin-right:15px;}
#projectcontent{}
#projectlist{}


