#projectselected{position:relative;width:960px; height:445px;}
#projectimageviewer{position:relative;width:720px; height:445px;float:left;}
#projectinfopane{position:relative;width:246px; height:445px;top:-445px;float:right;background-color: #404041;}
.projectinfo{color: #fff;margin:15px 15px 0 15px;}
#projecttitle{}
#projectclient{margin-top:5px;}
#projectinforule{}
.projectcontent{margin-top:5px;}
#projectlist{}
#tabs{text-transform:uppercase;width:246px;height:40px;}
#tabs .tab{
	padding:0;
    margin:0;
    color:#fff;
    height:40px;
    width:81px;
    float:left;
    text-align: center;
    line-height: 2.6em;
    border-bottom: 1px solid #303031;
    border-top: 1px solid #303031;
}
#tabs .centertab{border-left: 1px solid black;border-right: 1px solid #303031;}
#tabs .tab.selected{background-color: #005F72;}


#projectlist {
	width: 1100px;
	margin: 0 auto;
	height: 300px;
}
 
#projectlist img {
	width: 100px;
	height: 100px;
	margin: 25px;
	opacity: 0.8;
	border: 10px solid #eee;
 
	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
 
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
 
 
#projectlist img:hover {  
   opacity: 1;
 
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}



